In [123]:
import pandas as pd

In [124]:
# Carregar a base de dados
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [125]:
# Traduções da Aula 1
renomear_colunas = {
    'work_year':'ano',
    'experience_level':'senioridade',
    'employment_type':'contrato',
    'job_title':'cargo',
    'salary':'salario',
    'salary_currency':'salario',
    'salary_in_usd':'dolar',
    'employee_residence':'residencia',
    'remote_ratio':'remoto',
    'company_location':'localizacao',
    'company_size':'empresa'
}
df.rename(columns=renomear_colunas, inplace=True)

senioridade = {
    'SE': 'Senior' ,
    'MI': 'Pleno' ,
    'EN': 'Junior' ,
    'EX': 'Executive'
}

df["senioridade"] = df["senioridade"].replace(senioridade)

contrato = {
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
}

df["contrato"] = df["contrato"].map(contrato)

empresa = {
    'S': 'Pequena',
    'M': 'Média',
    'L': 'Grande'
}

df["empresa"] = df["empresa"].map(empresa)

traducao_remoto = {
    0: 'Presencial',
    100: 'Remoto',
    50: 'Híbrido'
}

df["remoto"] = df["remoto"].map(traducao_remoto)

In [126]:
# Analisar valores nulos/ausentes
df.isnull()

,ano,senioridade,contrato,cargo,salario,salario,dolar,residencia,remoto,localizacao,empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [127]:
# Analisar a base de dados
df.head()

,ano,senioridade,contrato,cargo,salario,salario,dolar,residencia,remoto,localizacao,empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [128]:
# Somar todos os campos que possuem valores nulos
df.isnull().sum()

ano            10
senioridade     0
contrato        0
cargo           0
salario         0
salario         0
dolar           0
residencia      0
remoto          0
localizacao     0
empresa         0
dtype: int64

In [129]:
# Trazer os valores únicos da coluna 'ano'
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [130]:
# Filtrar registros com valores nulos na coluna 'ano'
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,salario,dolar,residencia,remoto,localizacao,empresa
5588,NaN,Senior,Tempo Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,Pleno,Tempo Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Junior,Tempo Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Senior,Tempo Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Senior,Tempo Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Senior,Tempo Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Senior,Tempo Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Junior,Tempo Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Tempo Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Tempo Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

In [131]:
#Importar numpy para manipulação de dados numericos
import numpy as np

In [132]:
#Analisando salarios
# Criar um DataFrame
df_salarios = pd.DataFrame({
'nome': ['Ana', 'Bruno', 'Carlos', 'Daniele', 'val'],
'salario': [4000, np.nan, 5000, np.nan, 100000],
})

# Calcular a média salarial e substituir valores nulos pela média e arrendondar os valores
df_salarios['salario_medio'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))
# calcular a mediana salarial e substituir valores nulos pela mediana
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())

df_salarios

      nome   salario  salario_medio  salario_mediana
0      Ana    4000.0        4000.00           4000.0
1    Bruno       NaN       36333.33           5000.0
2   Carlos    5000.0        5000.00           5000.0
3  Daniele       NaN       36333.33           5000.0
4      val  100000.0      100000.00         100000.0

In [133]:
# Analisando temperaturas
df_temperaturas = pd.DataFrame({
    'dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'temperatura': [30, np.nan, np.nan, 28, 27]
    })

# Usando ffill (PREENCHE COM VALORES ANTERIORES)
df_temperaturas['preenchido_ffill'] = df_temperaturas['temperatura'].ffill()

df_temperaturas

       dia  temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [134]:
# Analisando temperaturas
df_temperaturas = pd.DataFrame({
    'dia': ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta'],
    'temperatura': [30, np.nan, np.nan, 28, 27]
    })

# Usando Bfill (PREENCHE COM VALORES POSTERIORES)
df_temperaturas['preenchido_bfill'] = df_temperaturas['temperatura'].bfill()

df_temperaturas

       dia  temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [135]:
#Analisando cidades
df_cidades = pd.DataFrame({
    'nome': ['Ana', 'Bruno', 'Carlos', 'Daniele', 'val'],
    'cidade': ['São Paulo', np.nan, 'Curitiba', np.nan, 'Belém'],
})

# Preencher valores nulos na coluna 'cidade' com 'Não Informado'
df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna('Não Informado')
display(df_cidades)

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não Informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não Informado
4      val      Belém             Belém

In [136]:
df_limpo = df.dropna()

In [137]:
df_limpo.isnull().sum()

ano            0
senioridade    0
contrato       0
cargo          0
salario        0
salario        0
dolar          0
residencia     0
remoto         0
localizacao    0
empresa        0
dtype: int64

In [138]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,salario,dolar,residencia,remoto,localizacao,empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [139]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ano          133339 non-null  float64
 1   senioridade  133339 non-null  object
 2   contrato     133339 non-null  object
 3   cargo        133339 non-null  object
 4   salario      133339 non-null  int64
 5   salario      133339 non-null  object
 6   dolar        133339 non-null  int64
 7   residencia   133339 non-null  object
 8   remoto       133339 non-null  object
 9   localizacao  133339 non-null  object
 10  empresa      133339 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.2+ MB

In [140]:
# Converter a coluna 'ano' para o tipo int64
# Isso é necessário para garantir que a coluna 'ano' seja tratada como um número inteiro
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))

In [141]:
df_limpo.head()

,ano,senioridade,contrato,cargo,salario,salario,dolar,residencia,remoto,localizacao,empresa
0,2025,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [142]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ano          133339 non-null  int64
 1   senioridade  133339 non-null  object
 2   contrato     133339 non-null  object
 3   cargo        133339 non-null  object
 4   salario      133339 non-null  int64
 5   salario      133339 non-null  object
 6   dolar        133339 non-null  int64
 7   residencia   133339 non-null  object
 8   remoto       133339 non-null  object
 9   localizacao  133339 non-null  object
 10  empresa      133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB